.landing-start-parent {
  width: 100%;
  height: 100%;
  .landing-start-video {
    position: relative;
    filter: blur(4px);
    width: 100vw;
    height: 100vh;
    object-fit:fill;
  }
  .landing-start-text-container {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .landing-start-text {
      margin-bottom: 7%;
      width: 70%;
      font-size: 7rem;
    }
  }
}